<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-button color="danger" fill="outline" (click)="loginWithGoogle()">
  <ion-icon slot="start" name="logo-google"></ion-icon>
    <ion-label slot="end" >Login With Google</ion-label>
</ion-button>

<ion-button (click)="loginWithFacebook()">
  
  <ion-icon slot="start" name="logo-facebook"></ion-icon>
  <ion-label slot="end">  Login With Facebook</ion-label>
</ion-button>


</ion-content>

