ion-button{
}
.customloading{
    background-image: url(../../../assets/icon/tindioIcon-sm.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    --spinner-color	 :red !important;
    --background: rgba(169,3,41,1);



}
.loading-wrapper{
    background	: rebeccapurple !important
}
.sc-ion-loading-md{
    background-color: royalblue !important;
}