<ion-header>
  <ion-toolbar>
    <ion-title>
      Tindio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-content>
        <ion-list>
            <ion-grid  >
              <ion-row >
                <ion-col  *ngFor="let item of productlist "  size-xs="6"  size-md="4" size-lg="3">
                  <ion-item lines="none" >
                      <div class="product">
                        <img src="{{item.image.src}}">
                        <ion-grid fixed>
                            <ion-row>  <ion-col size="auto"> {{item.name}}</ion-col></ion-row>
                          <ion-row>
                            <ion-col size="auto"> 
                                      <ion-text class="price" color="tertiary" >  {{item.price}}</ion-text>
                            </ion-col>
                            <ion-col size="auto">
                                <ion-text class="store_name" color="primary" >  {{ item.store_name | uppercase }}</ion-text>

                             
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                      </div>
                    </ion-item>
                    
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-list>
      
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
           >
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>

</ion-content>
   <!-- <ion-card>
                        <img src="{{item.image.src}}" />
                        
                      <ion-card-header>
                        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                        <ion-card-title>{{item.name}}</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        Awesome content
                      </ion-card-content>
                    </ion-card> -->