ion-content{
    font-family : "monospace" !important;
}
img{
    border-radius : 10px
}
ion-col{
    font-size: small;
    
}

.product img{
    margin: 0 auto;
}
.price{
    font-weight: bolder;

}
.thum{
    --border-radius:50%;
    --size : 50px;
}
