<ion-header>
    <ion-toolbar>
        <div height="20px"*ngIf='loggedInUser'>
            <ion-grid fixed>
                <ion-row>
        
                <ion-col size="2" >  <ion-buttons >
                    <ion-back-button defaultHref="login"></ion-back-button>
                  </ion-buttons></ion-col>
                <ion-col size="4"  style="margin: auto;">        <ion-title>Home</ion-title>
                </ion-col>
                  <ion-col size="3" style="margin: auto;" ><p style="font-weight: bolder;">{{loggedInUser.displayName}}</p>                </ion-col>
                  <ion-col size="3">
                      <ion-thumbnail  class="thum center-items">
                          <ion-img [src]="loggedInUser.photoURL"></ion-img>
                        </ion-thumbnail>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </div>
          
    </ion-toolbar>
  </ion-header>

<ion-content>
  

    <ion-content>
        <ion-list>
            <ion-grid  >
              <ion-row >
                <ion-col  *ngFor="let item of productlist "  size-xs="6"  size-md="4" size-lg="3">
                  <ion-item lines="none" >
                      <div class="product">
                        <img src="{{item.image.src}}">
                        <ion-grid fixed>
                            <ion-row>  <ion-col size="auto"> {{item.name}}</ion-col></ion-row>
                          <ion-row>
                            <ion-col size="auto"> 
                                      <ion-text class="price" color="tertiary" >  {{item.price}}EGP</ion-text>
                            </ion-col>
                            <ion-col size="auto">
                                <ion-text class="store_name" color="primary" >  {{ item.store_name | uppercase }}</ion-text>

                             
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                      </div>
                    </ion-item>
                    
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-list>
      
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
           >
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>

</ion-content>
   <!-- <ion-card>
                        <img src="{{item.image.src}}" />
                        
                      <ion-card-header>
                        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                        <ion-card-title>{{item.name}}</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        Awesome content
                      </ion-card-content>
                    </ion-card> -->